.Rproj.user
.Rhistory
.RData
*.Rproj
src/*.o
src/*.so
src/*.dll
*/*~
*~
BAS-github.Rproj
.build.timestamp
docs/*
vignettes/BAS-vignette.R
vignettes/BAS-vignette.html
vignettes/BAS-vignette_files/*
doc
Meta
