# Export all names
useDynLib(BAS)
exportPattern("^[^\\.]")
import("stats")
importFrom("grDevices", "dev.interactive", "extendrange", "gray",
             "rainbow")
importFrom("graphics", "abline", "axis", "box", "image", "lines",
             "mtext", "panel.smooth", "par", "plot", "points",
             "strheight", "text", "title")
S3method(print, bas)
S3method(print, coef.bas)
S3method(summary, bas)
S3method(plot, bas)
S3method(plot, coef.bas)
S3method(confint, coef.bas)
S3method(coef, bas)
S3method(image, bas)
S3method(update, bas)
S3method(fitted, bas)
S3method(predict, bas)
S3method(predict, basglm)
