# Export all names

#exportPattern("^[^\\.]")
import("stats")
importFrom("grDevices", "dev.interactive", "extendrange", "gray",
             "rainbow")
importFrom("graphics", "arrows","abline", "axis", "box", "image", "lines",
             "mtext", "panel.smooth", "par", "plot", "points", 
             "strheight", "text", "title")
importFrom("utils", "combn")
S3method(plot, confint.bas)
S3method(print, bas)
S3method(print, coef.bas)
S3method(summary, bas)
S3method(plot, bas)
S3method(plot, coef.bas)
S3method(confint, coef.bas)
S3method(confint, pred.bas)
S3method(coef, bas)
S3method(image, bas)
S3method(update, bas)
S3method(fitted, bas)
S3method(predict, bas)
S3method(predict, basglm)

export("aic.prior", "bas.glm", "bas.lm", "bayesglm.fit", "Bernoulli",  "beta.binomial",      
  "beta.prime", "bic.prior",  "bin2int",  "CCH", "coef.bas","confint.coef.bas", "confint.pred.bas",   
 "cv.summary.bas",  "diagnostics", "EB.global.bma",  "EB.local", "eplogprob", "eplogprob.marg",     
 "fitted.bas", "g.prior", "hyper.g", "hyper.g.n", "hypergeometric1F1", "hypergeometric2F1",  
 "IC.prior",  "image.bas", "intrinsic", "Jeffreys",  "list2matrix.bas", "list2matrix.which",  
 "phi1", "plot.bas", "plot.coef.bas", "plot.confint.bas",  "predict.bas", "predict.basglm",     
 "print.bas",  "print.coef.bas", "robust",  "summary.bas", "tCCH", "testBF.prior",       
 "TG", "tr.beta.binomial", "tr.poisson",  "tr.power.prior",  "uniform", "update.bas", 
 "which.matrix")

useDynLib(BAS, .registration=TRUE, .fixes = "C_")
